[run]
branch = True
source =
    overtime_calculator
omit =
    overtime_calculator/setup.py

[report]
fail_under = 72
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
show_missing = True
precision = 2
sort = Cover
