[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hug = "*"
bcrypt = "*"
pyjwt = "*"

[dev-packages]
"flake8" = "*"
hypothesis = "*"
coveralls = "*"
vulture = "*"
ipython = "*"
pytest = "*"
sphinx = "*"

[requires]
python_version = "3.7"
